*{
margin:0;
padding:0;
box-sizing:border-box;
font-family: Arial, Helvetica, sans-serif;
}

body{
height:100vh;
display:flex;
justify-content:center;
align-items:center;
background: linear-gradient(135deg,#fffb22,#ff3b3b);
}
/* Container central */
.login-container{
width:100%;
display:flex;
justify-content:center;
align-items:center;
}

/* Caixa do login */
.login-box{
background:white;
padding:40px;
width:350px;
border-radius:10px;
box-shadow:0px 10px 25px rgba(0,0,0,0.2);
text-align:center;
}

